{% extends "basic/layout.html" %}

{% block extrahead %}
<!--[if lte IE 6]>
<link rel="stylesheet" href="{{ pathto('_static/ie6.css', 1) }}" type="text/css" media="screen" charset="utf-8" />
<![endif]-->

<link rel="stylesheet" href="{{ pathto('_static/featured.css', 1) }}">

{% if theme_favicon %}
<link rel="shortcut icon" href="{{ pathto('_static/'+theme_favicon, 1) }}" />
{% endif %}
{% endblock %}

{# override upper relbar to show our navigation menu #}
{% block relbar1 %}
<div class="wrapper">
  <a href="{{ pathto('index.html', 1) }}"><img src="{{ pathto('_static/%s.%s' % ('banner', 'png'), 1) }}" width="900px" alt="FInAT Project Banner" /></a>
  <div id="access">
    <div class="menu">
      <ul>
          <li class="page_item"><a href="https://bitbucket.org/finiteelement/finite_element_course" title="Bitbucket">Bitbucket</a></li>
<!--          <li class="page_item"><a href="{{ pathto('documentation.html', 1) }}" title="Documentation for FInAT">Documentation</a></li>
          <li class="page_item"><a href="{{ pathto('download.html', 1) }}" title="Obtain the FInAT code">Download</a></li>
          <li class="page_item"><a href="{{ pathto('%s.%s' % ('team', 'html'), 1) }}" title="The guilty parties">Team</a></li>
          <li class="page_item"><a href="{{ pathto('publications.html', 1) }}" title="Publications">Publications</a></li>
          <li class="page_item"><a href="{{ pathto('funding.html', 1) }}" title="Our financial supporters">Funding</a></li>
          <li class="page_item"><a href="{{ pathto('contact.html', 1) }}" title="Getting in touch">Contact</a></li>
          <li class="page_item"><a href="http://buildbot-ocean.ese.ic.ac.uk:8080/builders/FInAT-trunk" title="Buildbot">Buildbot</a></li>-->
      </ul>
    </div><!-- .menu -->
  </div><!-- #access -->
</div><!-- #wrapper -->
{% endblock %}

{# do not display lower relbar #}
{% block relbar2 %}{% endblock %}

{# do not display sidebars #}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
